@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Grey-200: hsl(0, 0%, 85%);
--ff-alata: "Alata", sans-serif;
--ff-josefin: "Josefin Sans", sans-serif;
}
ul{
    list-style: none;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 15px;
    /* border: red solid 10px; */
    /* we used the overflow-x: hidden because we dont want the x-axis to be able to scroll  */
}
.container{
    padding: 0 100px;
    /* border: red 2px solid; */
    max-width: 1400px;
    margin: 0 auto;
}
header{
background-image: url(assets/desktop/Image20251008202552.jpg);
background-repeat: no-repeat;
background-size: cover;
min-height: 36rem;
padding-bottom: 2rem;
}
/* css framework: an easier, or quicker way to write css */
/* we use the class of container before we finish the html. whenever we have a html-code that needs the things in the .container we add the class */
/* when we use backround-size:cover the image strethes to the other end of the screen so that it COVERS the screen*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
}
/* flex-wrap: wrap makes sure that everything fits well in different screen sizes. if something doesn't fit in one line, then it will *squeeze* it in the line below. */
ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    color: var(--White);
    font-family: var(--ff-alata);
    font-weight: 400;
}
#hamburger-icon{
    display: none;
}
li:hover{
cursor: pointer;
}
ul li{
    position: relative;
    padding: 0.5rem 0;
}
ul li::after{
    content:"";
     position: absolute;
     bottom: 0;
     left: 50%;
     height: 2px;
     width: 0;
     background-color: var(--White);
     transform: translateX(-50%);
     cursor: pointer;
}
ul li:hover::after{
    width: 50%;
}
#IMMERSIVE{
width: 80%;
margin: 60px 0;
}
#IMMERSIVE h1{
    border: 3px solid var(--White);
    width: 50%;
    padding: 1rem 2rem;
    font-family: var(--ff-josefin);
    font-size: 3.3rem;
    font-weight: 300;
    color: var(--White);
    word-wrap: break-word;
}
main{
    padding: 100px 0;
}
#interactive-mobile{
    display: none;
}
#section-1{
    position: relative;
}
#text-div{
    position: absolute;
    left: 650px;
    bottom: 4px;
    background-color: var(--White);
    height: 300px;
    max-width: 50%;
    padding: 20px 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    word-wrap: break-word;
}
@media (max-width:768px) {
    .container{
        padding: 0 18px;
        max-width: 1100px;
    }
    ul{
        display: none;
    }
    #hamburger-icon{
        display: block;
    }
  header{
  background-image: url("assets/mobile/Image20251022205319.jpg");
    min-height: 40rem;
  }
  #IMMERSIVE{
    width: 100%;
    margin: 100px 0 0 0;
  }
#IMMERSIVE h1{
    width: 100%;
    font-size: 2.5rem;}
}