@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Grey-200: hsl(0, 0%, 85%);
--ff-alata: "Alata", sans-serif;
--ff-josefin: "Josefin Sans", sans-serif;
}z
ul{
    list-style: none;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 15px;
    /* border: red solid 10px; */
    /* we used the overflow-x: hidden because we dont want the x-axis to be able to scroll  */
}
.container{
    padding: 0 100px;
    /* border: red 2px solid; */
    max-width: 1400px;
    margin: 0 auto;
}
header{
background-image: url(assets/desktop/Image20251008202552.jpg);
background-repeat: no-repeat;
background-size: cover;
min-height: 36rem;
padding-bottom: 2rem;
}
/* css framework: an easier, or quicker way to write css */
/* we use the class of container before we finish the html. whenever we have a html-code that needs the things in the .container we add the class */
/* when we use backround-size:cover the image strethes to the other end of the screen so that it COVERS the screen*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
}
/* flex-wrap: wrap makes sure that everything fits well in different screen sizes. if something doesn't fit in one line, then it will *squeeze* it in the line below. */
ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    color: var(--White);
    font-family: var(--ff-alata);
    font-weight: 400;
}
#hamburger-icon{
    display: none;
}
li:hover{
cursor: pointer;
}
ul li{
    position: relative;
    padding: 0.5rem 0;
}
ul li::after{
    content:"";
     position: absolute;
     bottom: 0;
     left: 50%;
     height: 2px;
     width: 0;
     background-color: var(--White);
     transform: translateX(-50%);
     cursor: pointer;
}
ul li:hover::after{
    width: 50%;
}
#IMMERSIVE{
width: 80%;
margin: 60px 0;
}
#IMMERSIVE h1{
    border: 3px solid var(--White);
    width: 50%;
    padding: 1rem 2rem;
    font-family: var(--ff-josefin);
    font-size: 3.3rem;
    font-weight: 300;
    color: var(--White);
    word-wrap: break-word;
}
main{
    padding: 100px 0;
}
#interactive-mobile{
    display: none;
}
#section-1{
    position: relative;
}
/* absolute - if you want to move a child with the parent, you need to give the parent relative, and the child absolute, so it will follow the parent. if the parent does not have relative, the child will stay at the viewport height (the top of the browser) */
#text-div{
    position: absolute;
    left: 650px;
    bottom: 4px;
    background-color: var(--White);
    height: 300px;
    max-width: 50%;
    padding: 20px 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    word-wrap: break-word;
   
}.div-for-creations{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.div-for-creations h1{
    font-family: var(--ff-josefin);
    font-weight: 300;
    font-size: 2rem;
}


#text-div h1{
    font-family: var(--ff-josefin);
    font-weight: 300;
    font-size: 3rem;
}
#text-div p{
    font-family: var(--ff-alata);
    font-weight: 400;
    color: rgb(165, 164, 164);
    padding-top: 30px;
    line-height: 2;
}
#section-2{
padding-top: 140px;
}
.div-for-creations button{
    border: 1px solid var(--Black);
    padding: 10px 50px;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: var(--ff-alata);
}
.div-for-creations button:hover{
    cursor: pointer;
    background-color: var(--Black);
    color: var(--White);
}
#creations-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.4rem;
    padding: 60px 0;
}
.creation-card{
    height: 500px;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    font-family: var(--ff-josefin);
    color: var(--White);
    font-weight: 400;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;  
}
#deep-earth{
    background-image: url(assets/desktop/Image20251008202448.jpg);
}
#night-arcade{
    background-image: url(assets/desktop/Image20251008202527.jpg);
}
#soccer-team{
    background-image: url(assets/desktop/Image20251008202518.jpg);
}
#the-grid{
    background-image: url(assets/desktop/Image20251008202533.jpg);
}
#from-up-above-vr{
    background-image: url(assets/desktop/Image20251008202547.jpg);
}
#pocket-borealis{
    background-image: url(assets/desktop/Image20251008202510.jpg);
}
#curiousity{
    background-image: url(assets/desktop/Image20251008202500.jpg);
}
#fisheye{
    background-image: url(assets/desktop/Image20251008202505.jpg);
}
.creation-card:hover{
    opacity: 50%;
    cursor: pointer;
    color: var(--Black);
    transform: scale(1.02);
}
.creation-card p{
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 30px;
    max-width: 60%;
}
#mobile-btn{
    display: none;
}
footer{
    background-color: var(--Black);
    padding: 50px 0;
}
#footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--White);
}
@media (max-width:768px) {
    .container{
        padding: 0 18px;
        max-width: 1100px;
    }
    ul{
        display: none;
    }
    #hamburger-icon{
        display: block;
    }
  header{
  background-image: url("assets/mobile/Image20251022205319.jpg");
    min-height: 40rem;
  }
  #IMMERSIVE{
    width: 100%;
    margin: 100px 0 0 0;
  }
#IMMERSIVE h1{
    width: 100%;
    font-size: 2.5rem;}
/* main */
#interactive-mobile{
    display: block;
    max-width: 100%;
}
#interactive-desktop{
    display: none;
}
#text-div{
    position: static;
    max-width: 100%;
    padding: 0;
    text-align: center;
}
#text-div h1{
    font-size: 2.4rem;
}
#text-div p{
padding-top: 20px;
line-height: 1.6;
}
#desktop-btn{
    display: none;
}
#section-2{
    padding-top: 60px;
}
.div-for-creations{
    justify-content: center;
}
/* grid */
#creations-grid{  
    grid-template-columns: 1fr;
}
#deep-earth{
    background-image: url(assets/mobile/Image20251008202313.jpg);
}
#night-arcade{
    background-image: url(assets/mobile/Image20251008202252.jpg);
}
#soccer-team{
    background-image: url(assets/mobile/Image20251008202211.jpg);
}
#the-grid{
    background-image: url(assets/mobile/Image20251008202237.jpg);
}
#from-up-above-vr{
    background-image: url(assets/mobile/Image20251008202331.jpg);
}
#pocket-borealis{
    background-image: url(assets/mobile/Image20251008202300.jpg);
}
#curiousity{
    background-image: url(assets/mobile/Image20251008202242.jpg);
}
#fisheye{
    background-image: url(assets/mobile/Image20251008202318.jpg);
}
.creation-card {
    height: 120px;
}
.creation-card:hover{
    transform: none;
    color: var(--White);
    cursor: none;
    opacity: 100%;
}
.creation-card p{
    max-width: 31%;
    padding-left:0 ;
    font-size: 1.3rem;  
}
#mobile-btn{
    display: block;
}
}